.uploadForm {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.uploadCard {
  padding: 30px 30px 20px;
  border-radius: 6px;
  box-shadow: 5px 10px 10px hsl(0deg 0% 0% / 0.34);
  margin: 20px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  text-align: center;
  background: rgba(255, 170, 0, 0.719);
}

.uploadInstructions {
  margin: 0 0 20px 0;
  font-weight: 500;
  font-size: 1.1rem;
  font-style: none;
  padding-right: 1rem;
  font-family: 'Roboto', sans-serif;
}

.uploadNote {
  margin: 20px 0 0;
  font-size: .8rem;
  font-style: none;
  font-family: 'Roboto', sans-serif;
}

.uploadButtonsContainer {
  display: flex;
  flex-direction: column;
  width: 250px;
  align-self: center;
}

.chooseFileButtons {
  margin-bottom: 10px;
  display: flex;
}
